[bumpr]
verbose = True
file = piecash/metadata.py
regex = version \= '(?P<version>.*)'
vcs = git
tests = tox
publish = python setup.py sdist register upload
clean =
    python setup.py clean
    rm -rf *egg-info build dist
files = README.rst

[bump]
unsuffix = true
message = Bump version {version}

[prepare]
suffix = dev
message = Prepare version {version} for next development cycle

[changelog]
file = CHANGELOG.rst
prepare = In development
separator = ~
bump = Version {version} ({date:%Y-%m-%d})
empty = Empty

[readthedoc]
id = piecash
