[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"local-install" = {path = ".", extras = [ "pandas", "mysql", "postgres", "finance-quote"], editable = true}
"local-install2" = {path = ".", extras = [ "mysql", "postgres", "finance-quote"], editable = true}
"local-install3" = {path = ".", extras = [  "postgres", "finance-quote"], editable = true}
"local-install4" = {path = ".", extras = [ "finance-quote"], editable = true}



[dev-packages]

pytest = "*"
pytest-cov = "*"
tox = "*"
py = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
ipython = "==4.0.0"
sphinxcontrib-programoutput = "*"
