[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"-e .[mysql,postgres,pandas,finance-quote]" = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
tox = "*"
py = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-rtd-theme = "*"
ipython = "==4.0.0"
sphinxcontrib-programoutput = "*"
