# Runtime requirements
--requirement requirements.txt

# Testing
pytest==2.8.2
pytest-cov==2.2.0
py==1.4.30
tox==2.2.1

# packages to support DB access
psycopg2==2.7.3.1
PyMySQL==0.7.11

# to ouput pandas dataframes
pandas==0.20.3

# Documentation
Sphinx
sphinxcontrib-napoleon==0.4.3
ipyext==0.1.0
ipython==4.0.0

# Miscellaneous
Paver==1.2.4
bumpr==0.2.0
# hatch=0.20.0
requests-cache