alabaster==0.7.10
attrs==17.4.0
Babel==2.5.3
backcall==0.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.1
decorator==4.3.0
docutils==0.14
idna==2.6
imagesize==1.0.0
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.12.0
Jinja2==2.10
MarkupSafe==1.0
money==1.3.0
more-itertools==4.1.0
numpy==1.14.2
packaging==17.1
pandas==0.22.0
parso==0.2.0
pew==1.1.5
pickleshare==0.7.4
-e git+https://github.com/sdementen/piecash.git@b5c9ad76f6ee8adc58525252482afbf1f64f61b9#egg=piecash
pipenv==11.0.2
pluggy==0.6.0
pockets==0.6.2
prompt-toolkit==1.0.15
psutil==5.3.1
psycopg2==2.7.4
py==1.5.3
Pygments==2.2.0
PyMySQL==0.8.0
pyparsing==2.2.0
pytest==3.5.0
pytest-cov==2.5.1
python-dateutil==2.7.2
pytz==2018.4
qifparse==0.5
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-rtd-theme==0.3.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-programoutput==0.11
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
tox==2.9.1
tox-pipenv==1.4.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
